<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/header.css" />
  <link rel="stylesheet" href="<%= stylesheet %>" />
  <title>LMS <%= title %>
  </title>
</head>

<body>
  <% if(user) { %>
    <header style="min-height: <%= header %>">
      <div class="container2">
        <a id="logo" href="/dashboard">LMS</a>
        <a href="/logout"><button class="btn-md">Log out</button></a>
      </div>
      <section id="nav" class="jumbotron">
        <nav>
          <p id="greet">Hi, <%= user.firstName %>
          </p>
          <ul>
            <a href="/dashboard">
              <li class="dashboard" style="border-right: 1px solid var(--color2)">
                Dashboard
              </li>
            </a>
            <a href="/course/fbf">
              <li class="course">Course</li>
            </a>
            <a href="/profile">
              <li class="profile" style="border-left: 1px solid var(--color2)">
                Profile
              </li>
            </a>
          </ul>
        </nav>
      </section>
    </header>

    <% } else { %>
      <header style="min-height: <%= header %>">
        <div class="container">
          <a id="logo" href="/">LMS</a>
          <div class="register">
            <a href="/login"><button class="btn-md">Log in</button></a>
            <a href="/signup"><button class="btn-md">Sign up</button></a>
          </div>
        </div>
      </header>
      <% } %>

        <script>
          if (document.querySelector("title").textContent === "LMS : Dashboard\n  ") {
            document.querySelector(".dashboard").classList.add("current");
          }

          if (document.querySelector("title").textContent === "LMS : Course\n  ") {
            document.querySelector(".course").classList.add("current");
          }

          if (document.querySelector("title").textContent === "LMS : Profile\n  ") {
            document.querySelector(".profile").classList.add("current");
          }
        </script>
</body>

</html>